body{
    background-color: aliceblue;
}
*{
    font-family: 'Caveat', cursive;
    box-sizing: border-box;
}
.container{
    margin: 3rem;
    border: 1px solid black;
    padding:2rem;
    background-color: rgb(0, 0, 63);
}

button{
    width:30%;
    padding:1rem;
    margin: 1rem;
    border-radius: 2rem;
    background-color: rgb(240, 46, 46);
    color:white;
    font-size: 2rem;
}

button:hover{
    background-color: aliceblue;
    color:black;
}

.mc{
    display:flex;
    align-items: center;
    justify-content: center;
    border:#888888 solid 1px;
    background-color: white;
}

.mcfragment{
    display:flex;
    align-items: center;
    justify-content: center;
}

.imagenes{
    display:flex;
    align-items: center;
    justify-content: center;
    width:33.3%;
    height: 60vh;
}

.imagenes1{
    display:flex;
    align-items: center;
    justify-content: center;
    width:33.3%;
    height: 60vh;
    flex-direction: column;
}

.imgmedio{
    display:flex;
    width:100%;
    height:50%;
    justify-content: center;
}

.imgmedio1{
    display:flex;
    width:100%;
    height:50%;
}

.imgmedio2{
    width:50%;
}


img{
    width:100%;
    height:100%;
    object-fit:cover;
}

@media only screen and (max-width: 650px){
    button{
        width:100%;
        margin:0px;
    }
    .imagenes,.imagenes1, .imgmedio,.imgmedio1,.imgmedio2{
        margin:0rem;
    }
}